@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  scroll-behavior: smooth;
  /* font-display: optional; */
}
::selection {
  background-color: #47a3f3;
  color: #fefefe;
}
::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  @apply bg-black dark:bg-white rounded-full;
}

.prose {
  @apply text-black dark:text-white text-sm;
}
.prose sm {
  @apply text-black dark:text-white;
}
.prose * {
  @apply text-black dark:text-white;
}
.anchor:hover {
  @apply visible no-underline;
}
.prose a {
  @apply text-blue-300 dark:text-blue-700 break-all;
}
.prose .anchor:after {
  @apply text-red-300 dark:text-blue-700;
  content: "#";
}
.prose *:hover > .anchor {
  @apply visible no-underline;
}
.prose .anchor {
  @apply text-blue-500 underline;
}
.prose pre {
  @apply text-gray-800 border bg-gray-50 dark:bg-gray-900;
}

.prose code {
  @apply text-black dark:text-white border  rounded-md bg-gray-100 dark:bg-gray-900;
}

/* .prose code {
  @apply text-black dark:text-white border  rounded-md bg-gray-100 dark:bg-gray-900;
} */

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0 rounded-lg;
}
.prose p {
  @apply text-black dark:text-white;
}
.prose li {
  @apply text-black dark:text-white;
}
.prose ul {
  @apply text-black dark:text-white;
}
.prose ol {
  @apply text-black dark:text-white;
}
.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
